@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.addNewQuest, .confirmQuestCompletion, .templateScreen {
  background-color: #ffffff;
  width: 100%;
  height: 360px;
  max-width: 720px;
}

.IndividualReward input {
  height: 24px;
  width: 24px;
  margin-right: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.RewardsList>div:nth-child(odd) {
  background-color: #AAAAFF;
}

.templateFull {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  max-width: 720px;
}

.confirmQuestCompletion {
  font-family: 'MedievalSharp', cursive;
  padding: 16px;
}

.confirmQuestCompletion h2 {
  font-size: 2em;
}

.confirmQuestDescription {
  font-size: 1.4em;
}

.spaceAtTheBottom {
  margin-bottom: 64px;
}

.addNewQuest h2 {
  font-size: 1.5em;
  margin-left: 12px;
  margin-top: 12px;
}

.addNewQuest label {
  width: 100%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.buttonrow {
  margin-top: 16px;
}

.heroDisplaySmall {
  background-color: #CCCCCC;
}

.characterSheetLabel {
  width: 100%;
  display: block;
  margin-top: 8px;
}

.smallHeroImage {
  height: 48px;
  display: inline-block;
  margin-right: 14px;
}

.heroSmallDisplayName {
  font-family: 'MedievalSharp', cursive;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  display: inline-block;
}

.heroSmallExperience {
  font-family: 'MedievalSharp', cursive;
  font-size: 28px;
}

.heroSmallEditDetails {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 24px;
}

.completeQuestButton {
  
}

.giveMeSomeSpace {
margin-right: 12px;
}


.questList span {
  margin-left: 6px;
  border: 1px solid #999999;
  border-radius: 3px;
  background-color: #CCCCCC;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cancelCompleteQuestButton {
  color: #FF0000;
}

/** FOR FIREWORKS **/
canvas {
	cursor: crosshair;
	display: block;
}

.QuestCompletedScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color:#000000;
  color: #DDDDDD;
}

.BackToQuestsFromQuestComplete {
  position: absolute;
  background-color: #CCFFCC;
  color: #000000;
  bottom: 20px;
  right: 20px;
}